.title {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: rgb(255, 215, 0);
    padding: 7px 10px 7px 10px;
}

#bar {
    position: absolute;
    left: 810px;
    top: 0;
    height: 500px;
    width: 720px;
}

#bar1 {
    left: 410px;
    top: 1820;
    height: 500px;
    width: 720px;
}