<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bicycle Thefts in Toronto</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

    
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

   <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <div class="container">
    <div class="row"></div>
      <div class="col-md-12 jumbotron text-center">
          <img
        src="https://static.wixstatic.com/media/be6c38_940dabdce28d458f8ba4316cb4381631~mv2.jpg/v1/fill/w_925,h_615,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/be6c38_940dabdce28d458f8ba4316cb4381631~mv2.jpg"
        width="600"
        height="337"
        style="width: 300px; height: 200px;"/>
          <h1>Bicycle Thefts in Toronto</h1>
          <p>explore the dataset</p>
      </div>
     
    <div class="row">
      <a href="http://127.0.0.1:5000/data"> Toronto Theft data</a> <br><br>
      
      </div>
        <input type="file" id="select-file">
        <br>
        <textarea id="query-statement">select * from info</textarea>
        <br>
        <button type="button" id="make-query">Query now!</button>
        <button type="button" id="visualize">Visualize now!</button><br>
      <div class="row">
      </div>    
      <div class="row">
        <div class="col-md-5">
          <div id="bar"></div>
        </div>  
      </div>
      <div class="row">
          <div class="col-md-10">
            <div id="line"></div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="bar2"></div>
        </div>
      </div>

      
   
    
  


  </div>
  <!-- Our JavaScript file -->
  <script type="text/javascript" src="static/js/logic.js"></script>
  <script type="text/javascript" src="static/js/logic2.js"></script>
  <script type="text/javascript" src="static/js/logic3.js"></script>

  <!-- D3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- MomentJS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

  <!-- Moment JavaScript - datetime-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

  <!-- Import the library (SQL.js) used to open SQLite file and query data -->
  <script type="text/javascript" src="static/js/sql-asm.js"></script>
</body>

</html>
